{% set loop_messages = messages %}
{% for message in loop_messages %}
    {% set content = '<|start_header_id|>' + message['role'] + '<|end_header_id|>\n\n'+ message['content'] | trim %}
    {% if loop.index0 == 0 %}
        {% set content = bos_token + content %}
    {% endif %}
{{ content }}
{% if message['role'] == 'assistant' %}
    {% if not loop.last %}{{'<|eot_id|>'}}{% endif %}
{% else %}
{{'<|eot_id|>'}}
{% endif %}
{% if loop.last and message['role'] == 'user' and add_generation_prompt %}
    {{ '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
{% endif %}
{% endfor %}