# HF fast inference
accelerate
transformers
optimum
einops
# git+https://github.com/AutoGPTQ/AutoGPTQ.git # need to install from source, to compile the cpp code
# autoawq
tiktoken # for databricks models
hf_transfer # fast transfer of models
# vllm
# APIs
backoff
openai
mistralai
anthropic
# path-finder specific
pygtrie
numpy
